/* main content */
.modal-open {
	overflow-y: visible;
	.modal {
		overflow: auto;
	}
}

.fancybox-enabled {
	overflow: visible;
	body {
		overflow-x: hidden;
	}
}

.slick-slide {outline: none;}
/* main slider */
.slider {
	margin-bottom: 0px!important;
	.slick-slide {
		overflow: hidden;
		position: relative;
		outline: none;
		will-change:  'transform, opacity';
	}
	.slick-dots {
		bottom: 36px;
		width: fit-content;
		left: calc(50% - 570px);
		li {
			margin: 0px 5px;
			width: fit-content;
			height: fit-content;
			button {
				width: 9px;
				height: 9px;
				padding: 4px;
				background-color: transparent;
				border-radius: 50%;
				border: 1px solid #999;
				transition: 300ms;
				&:before {display: none;}
				&:hover {
					background-color: $main;
				}
			}
			&.slick-active {
				button {
					background-color: $main;
					border: 1px solid transparent;
					width: 40px;
					border-radius: 5px;

				}
			}
		}
	}
}
/* main slider */

.i-sl {
	.item {position: relative;border-radius: 0px 0px 5px 5px; overflow: hidden;}
	img {
		width: 100%;
		min-width: 100%;
		height: 660px; 
		object-fit: cover;
	}
	.container {
		position: absolute;
		top: 50%; left: calc(50% - 590px);
		transform: translateY(-50%);
		max-width: 35%;
	}
	h1 {
		font-size: 36px;
		margin-bottom: 16px;
		line-height: 1.2;
		@media(max-width: 1400px) {
			font-size: 32px;
		}
		@media screen and (max-width: 1200px) {
			font-size: 30px;
		}
		@media screen and (max-width: 1024px) {
			font-size: 26px;
			margin-bottom: 12px;
		}
		@media screen and (max-width: 768px) {
				font-size: 24px;
		}
	}

	.slick-prev {
		left: -90px;
	}
	.slick-next {
		right: -90px;
	}

}

.slider {
	&__desc {
		font-size: 18px;line-height: 24px;
		margin-bottom: 40px;
		@media(max-width: 1400px) {
			font-size: 16px;
		}
	}
	.slick-arrow {
		z-index: 9;
		width: 50px;
		height: 50px;
		border: 2px solid rgba($color: #fff, $alpha: .2);
		border-radius: 6px;
		transition: 300ms ease-out;
		&:before {
			font-family: 'fontawesome';
			font-size: 18px;
			color: #fff;
			opacity: 1;
		}
		&:hover {background: $main; border: 2px solid transparent;}
	}
	.slick-prev {
		&:before {content: '\f060';}
	}
	.slick-next {
		&:before {content: '\f061';}
	}
}

.i-sl__section {
	overflow: hidden;
}
.container1500 {
	width: 1500px;
	margin: 0 auto;
	position: relative;
	@media (max-width: 1775px) {
		width: 82vw
	}
	@media (max-width: 1500px) {
		width: 1140px;
	}
	@media (max-width: 1400px) {
		width: 80vw;
	}
	// @media(max-width: 1170px) {
	// 	width: 100%;
	// 	padding: 0 140px;
	// }
}

@media (max-width: 1500px) {
	.i-sl .container {left: calc(50% - 550px);}
	.slider .slick-dots {left: calc(50% - 535px);}
	.i-sl .container{max-width: 70%;}
}

@media (max-width: 1400px) {
	.slider .slick-dots {left: 30px}
	.i-sl {
		img {height: 515px;}
		.container {left: 0;}
		.slick-prev {left: -60px;}
		.slick-next {right: -60px;}

	}
}

@media (max-height: 745px) {
	.i-sl img {height: calc(100vh - 98px - 20px);min-height: 420px;}
}


.catalog{
	&__grid {
		display: grid; 
		grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
		gap: 30px;
	}

	&__card {
		position: relative;
		img {
			width: 100%; height: 100%;
			object-fit: cover; object-position: center;
			transition: 300ms ease-out;
		}
		.img-c {
			position: relative;
			height: 260px;
			overflow: hidden;
			border-radius: 5px;
			&:after {
				content: ' ';
				position: absolute;
				width: 100%;
				height: 100%;
				left: 0; top: 0;
				z-index: 1;
				background: linear-gradient(to top, #fff 2%, transparent 45%);
			}
		}
		&-name {
			position: absolute;
			font-size: 26px;
			font-family: $bold;
			color: #191716;
			left: 39px; bottom: 30px;
			z-index: 5;
			transition: 300ms ease-out;
			will-change: transform;
		}
		&:hover {
			img {transform: scale(1.03);}
		}
	}

}

.catalog__card:hover .catalog__card-name {bottom: 40px;}

.orange {color: $main;}

.ia {
	position: relative;
	overflow: hidden;
	padding-bottom: 55px;
	.decor1 {
		position: absolute;
		left: 0;
		top: 0;
		right: calc(50% + 95px);
		bottom: 0;
		object-fit: cover;
		max-width: 50vw;
		height: 100%;
	}
	.decor2 {
		position: absolute;
		right: 0; top: 0; bottom: 40px;
		transform: translateX(50%);
		z-index: -1;
	}
	&__container {
		width: 570px;
		margin-left: auto;
		margin-right: calc(50% - 590px);
	}
	.orange {font-family: $regular;}

	h2 {
		font-size: 42px; margin-bottom: 30px;
		@media screen and (max-width: 1200px) {
			font-size: 30px;
		}
		@media screen and (max-width: 1024px) {
			font-size: 24px;
					margin-bottom: 30px;
		}
		@media screen and (max-width: 768px) {
				font-size: 22px;
				margin-bottom: 20px;
		}
	}
	p {
		margin-bottom: 25px;
		@media screen and (max-width: 768px) {margin-bottom: 15px;}
	}
}

@media (max-width: 1200px) {
	.ia__container {left: auto; margin-right: 30px; width: 45vw;}
}

.else-section {
	overflow: hidden;
	.upper-flex {align-items: baseline;}
}

#tabs {border-bottom: 1px solid #666;}
.tab-head {
	& + .tab-head {
		margin-left: 106px;
	}
	a {
		font-size: 20px;
		font-family: $semi;
		text-transform: uppercase;
		color: #999999;
		padding: 9px 0;
		position: relative;
		display: block;
		&:after {
			content: ' ';
			position: absolute;
			left: 50%;
			bottom: -1px;
			width: 0;
			height: 4px;
			transition: 300ms ease-out;
			background-color: #ed7d32;
		}
		&:hover:after {
			left: 0;
			width: 100%;
		}
	}
	&#current a {
		color: #fff;
		&:after {left: 0; width: 100%;}
	}
}

.slider-margin-fix {
	margin: 0 -15px;
}
.else-slider {
	padding-bottom: 30px;
	.slick-prev {left: -85px;}
	.slick-next {right: -85px;}
	.slick-slide {transition: 300ms ease-out;opacity: .3;}
	.slick-active {opacity: 1}
	.slick-list {overflow: visible;}

	.slick-dots {bottom: -20px; left: 50%; transform: translateX(-50%);}
}

.card {
	background-color: #ffffff;
	border-radius: 5px;
	overflow: hidden;
	display: flex !important;
	flex-direction: column;
	margin: 0 15px;
	&__upper {
		padding: 59px 30px 10px; flex-grow: 1;
		display: block;
		min-height: 365px;
	}
	img {
		max-width: 100%; max-height: 160px;
		object-fit: contain;
		object-position: center;
		margin: 0 auto;
	}
	&__title {
		font-family: $semi;color: #191716;
		text-align: center;
		margin-bottom: 8px;
		margin-top: 60px;

	}
	&__stock {color: #999;font-size: 14px;text-align: center;}

	&__bottom {
		background-color: #e8e8e8;
		flex: 0 0 73px;
		padding: 10px 20px 10px 30px;
		display: flex;
		justify-content: space-between; align-items: center;
		transition: 300ms ease-out;
	}
	.btn {
		width: 52px;
		height: 52px;
		display: grid; place-items: center;
		padding: 0;
		img {
			width: 30px;
			height: 28px;
			position: static;
			object-fit: contain;
			object-position: center;
			margin: 0;
		}
	}
	&:hover {
		.card__bottom {
			background-color: #ed7d32;
		}
		.price {color: #fff;}
		.btn {background: #518032;}
	}
}

.price {
	position: relative;
	padding-right: 15px;
	font-size: 20px;
	font-family: $semi;
	color: #518032;
	transition: 300ms ease-out;
	&:after {
		content: '\20B8';
		position: absolute;
		right: 0;
		bottom: 2.5px;
		color: inherit;
		font-family: inherit;
		font-size: 1em;
		// transition: inherit;
	}
}

@media(max-width: 1400px) {
	.card {margin: 0 10px}
	.card__upper {
		padding: 45px 20px 10px;
	}
	.card__bottom {padding: 10px 10px 10px 20px;}
	#content {margin: 0px 70px;}
	.else-slider {
		.slick-prev {left: -63px;}
		.slick-next {right: -63px;}
	}
	.tab-head a {font-size: 18px;}
}

.grid2 {display:grid;grid-template-columns: 1fr 1fr; gap: 30px;}

.grid3 {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 30px;
}

.n-card {
	display: flex;
	flex-direction: column;
	background-color: #333333;
	box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.1);
	border-radius: 5px;
	overflow: hidden;
	transition: 300ms ease-out;
	.img-c {flex: 0 0 200px;}
	img {width: 100%; height: 200px; 
		object-fit: cover; object-position: center;}
	&__text {
		flex-grow: 1;
		padding: 36px 20px 48px 30px;
		display: flex;
		flex-direction: column;
		color: #fff;
	}
	&__title {
		font-size: 20px;
		font-family: $semi;
		line-height: 1.2;
		@include cut-text();
		-webkit-line-clamp: 2;
	}
	&__desc {
		line-height: 24px;
		margin-top: 18px;
		@include cut-text();
		-webkit-line-clamp: 4;
	}
	&__date {
		margin-top: 22px;
		font-size: 14px;
		font-family: $light;
	}
	&:hover {
		background-color: #ed7d32;
	}
}


.i-sl__section + section .container {padding-top: 90px; padding-bottom: 90px;}
.else-section .container {padding-top: 64px;}

.news-section .container {padding-bottom: 85px;}

@media (max-width: 990px) {
	.catalog__grid, .grid3, .grid2 {gap: 15px;}
	.n-card {
		.img-c {flex-basis: auto;}
		img {height: 170px;}
		&__text {padding: 25px 15px 25px 15px;}
		&__title {font-size: 18px;}
	}

	.container1500 {width: 100%;}
	.i-sl {
		img {height: calc(100vh - 118px);}
		.container {max-width: none; top: calc(50% - 28px);}
		.slick-prev {left: 15px}
		.slick-next {right: auto; left: 75px}
		.slick-arrow {top: auto; bottom: 35px;}
		.slick-dots {bottom: 30px; left: 15px}
	}

	.slider {
		.slick-arrow {
			width: 45px;
			height: 45px;
		}
	}

	.ia {
		padding-bottom: 0;
		display: flex;
		flex-direction: column-reverse;
		.decor1 {
			position: static;
			max-width: none;
			width: 100%;
			padding: 0 15px;
		}
		&__container {
			margin: 0; width: 100%;
			padding: 0 15px;
		}
		.decor2 {
			top: 100px;
			width: 55vw; opacity: .5;
		}
	}
	.catalog__card .img-c {
		height: 200px;
	}
	.catalog__card-name {
		font-size: 20px;
		left: 20px;
		bottom: 15px;
	}

	.tab-head + .tab-head {margin-left: 50px;}

	.else-section .container {padding-top: 40px;}
	.else-slider {
		padding-bottom: 40px;
		.slick-dots {bottom: 0;}
	}

	.i-sl__section + section .container {
		padding-top: 45px;padding-bottom: 45px;
	}
	.card__title {margin-top: 30px;}
	.card__upper {min-height: 320px;}

}

@media (max-width:680px) {
	.else-section .upper-flex {
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		ul {margin-top: 0; margin-bottom: 20px;}
		h2 {margin-bottom: 5px;}
	}
	.tab-head a {
		font-size: 14px;
	}
	.tab-head + .tab-head {margin-left: 25px;}

	.else-slider {
		.slick-next {right: -42px;}
		.slick-prev {left: -42px;}
		.slick-slide {opacity: .1;}
		.slick-active {opacity: 1;}

	}

	#content {margin: 0px 53px;}

	.catalog__grid {grid-template-columns: 1fr;}

}

@media (max-width: 535px) {
	.header .cart-link {
		span {display: none;}
    img {margin-right: 0; object-position: right center;}
	}
	.news-section .container {padding-bottom: 40px;}
}

.about-page {
	.decor1 {max-height: 493px;}
}

.h-bc.container {
	padding-top: 20px;
	padding-bottom: 0px;
	h1 {margin-bottom: 0;}
}

.about-page {
	.ia {
		padding-bottom: 15px;
		margin-top: 40px;
		@media(max-width: 990px) {margin-top: 20px;}
		.container {margin-top: 80px;}
	}
	.yellow-bar {margin-bottom: 45px;}
}

.yellow-bar {
	background-color: #ed7d32;
	border-radius: 5px;
	padding: 36px 152px;
	line-height: 1.2;
	text-align: center;
	font-family: $semi;
	font-size: 20px;
}

@media(max-width: 990px) {
	.about-page {
		.ia {flex-direction: column; margin-top: 10px;}
		.decor1 {order: 1}
		.ia .container {margin-top: 0;padding-top: 5px; 
			margin-bottom: 10px;}
		.yellow-bar {margin-bottom: 25px;}
		.container p:last-child {margin-bottom: 0;}
	}
	.yellow-bar {
		padding: 17px 20px; font-size: 16px;
	}

	.h-bc.container {
		padding-top: 10px;
    padding-bottom: 10px;
	}
	.breadcrumbs {
    margin-bottom: 5px !important;
	}
}

.card-page {
	main .container {padding-top: 40px; padding-bottom: 0;}
	.breadcrumbs {margin-bottom: 0;}
	.grid2 {grid-template-columns: calc(50% - 15px) calc(50% - 15px);}
	h1 {
		font-size: 36px;
		@media screen and (max-width: 1200px) {
			font-size: 30px;
		}
		@media screen and (max-width: 1024px) {
			font-size: 24px;
					margin-bottom: 30px;
		}
		@media screen and (max-width: 768px) {
				font-size: 20px;
				margin-bottom: 15px;
		}
	}
	.else-section .container {padding-top: 0; padding-bottom: 90px;}
}


.cat--unit__for a, .cat--unit img {background-color: #fff;}

.cat--unit__for {
	margin-bottom: 15px;
	a {
		border-radius: 5px;
		padding: 80px 150px;
	}
	img {width: 100%; height: 100%; object-fit: contain; object-position: center;}
	.slick-arrow {
		width: 50px;
		height: 50px;
		opacity: 0.2;
		border: 2px solid rgba($color: #191716, $alpha: .2);
		border-radius: 6px;
		z-index: 9;
		opacity: 1;
	}
	.slick-next {right: -4px; left: auto; border-right: 0;}
	.slick-prev {left: -4px; border-left: 0;}
	.slick-next:before {
		content: '\f061';
		font-family: fontawesome;
		color: #000000; opacity: 1;
	}

	.slick-prev:before {
		content: '\f060';
		font-family: fontawesome;
		color: #000000; opacity: 1;
	}
}

.cat--unit__nav {
	margin: 0 -7.5px;
	img {
		width: 99px;
		height: 99px;
		border-radius: 5px;
		object-position: center;
		object-fit: cover;
		margin: 0 7.5px;
	}
	.slick-slide {opacity: .5; cursor: pointer;}
	.slick-current {border: 2px solid #ed7d32; opacity: 1;}
}

.green-text {color: #518032;}

b {font-family: $semi;}

.desc {
	.green-text {font-size: 14px;}
	&__upper{
		border-bottom: 1px solid #666;
		padding-bottom: 18px;
		margin-bottom: 18px;
		&>div {margin-bottom: 12px;line-height: 1.2;}
	}

	.pale {
		margin-top: 25px; color: #999;
	}

	.price {
		font-size: 30px; font-family: $semi;
		color: #fff;
		width: max-content; padding-right: .8em;
		margin-bottom: 18px;
		&:after {bottom: 5.5px;}
	}

	.btn[type="submit"] {
		padding: .8em 1.9em;
		img {margin-right: 15px;}
	}
	.counter {margin-right: 33px;}
}

.counter {
	width: 104px; margin-right: 33px;
	button, input {
		border: 0; outline: 0;
		background: transparent;
		color: #fff; text-align: center;
		font-size: 18px;
	}
	input[type="text"] {
		background-color: #272727 !important;
		border: 1px solid #333333;
		border-radius: 5px;
		width: 52px;
		height: 52px;
		font-size: 20px;
		margin: 0 10px ;
		font-family: $regular;
		padding: 0;
	}
	button {cursor: pointer; width: max-content; padding: 0;}
}

.tabs-sec .container {padding-top: 0px;}

.tabs2 {
	border-bottom: 1px solid #666;
	justify-content: space-between;
	margin-bottom: 22px;
	li {margin-left: 0;}
}

.content2 p {margin-bottom: 24px;}
/* main content */

@media(max-width: 990px) {
	.card-page {
		.grid2 {grid-template-columns: 100%;}
		.cat--unit {grid-row: 2/3;}
		.desc {grid-row: 1/2}
	}

	.cat--unit__for a {padding: 30px 40px}
	.pale {font-size: 14px;}
	.cat--unit__nav {height: 105px}
	.tab-head + .tab-head {margin-left: 0;}
	.tab-head {margin-right: 20px;}

	.tabs2 {flex-wrap: wrap;}
}

.category {
	&__grid {
		display: grid; grid-template-columns: 1fr 3fr; gap: 30px;
		&--subgrid {
			display: grid; grid-template-columns: repeat(auto-fit, minmax(215px, 1fr));
			gap: 30px
		}
		.card {margin: 0;}
		.pagination {
			margin-top: 50px;
			margin-bottom: 35px;
			@media(max-width: 990px) {margin-bottom: 25px; margin-top: 30px;}
		}
	}

	&__menu {
		background-color: #ffffff;
		border-radius: 5px;
		overflow: hidden;
		a {display: block;color:#191716; 
			font-family: $bold; position: relative;
			padding: 1.45em 3em 1.45em 1.875em;
			line-height: 1;
			& + a {border-top: 1px solid #e8e8e8;}
		}
		a:hover {background: rgba($color: #ed7d32, $alpha: .2);}
		a:after {
			content: ' ';
			width: 5px; height: 5px; position: absolute;
			border-bottom: 2px solid #ed7d32;
			border-right: 2px solid #ed7d32;
			top: 50%; right: 20px;
			transform: translateY(-50%) rotate(-45deg);

		}
		a.active {
			pointer-events: none; color: #fff;
			background-color: #ed7d32;
			&:after {
				border-bottom: 2px solid #fff;
				border-right: 2px solid #fff;
			}
		}
	}
}

.pagination {
	display: flex; align-items: center; 
	justify-content: flex-start; flex-wrap: wrap;
	a {
		width: 40px;
		height: 40px;
		display: grid; place-items: center;
		border: 1px solid rgba($color: #fff, $alpha: .2);
		border-radius: 6px;
		font-size: 20px;
		color: #fff; font-family: $semi;
		padding: 0;
		margin-bottom: 10px;
		margin-right: 10px;
		&:hover {border: 1px solid rgba($color: #fff, $alpha: 1);}
	}
	.arr {position: relative;}
	.arr:after, .arr:before {
		content: ' ';
		width: 7px; height: 7px;
		position: absolute;
		top: 50%; left: 50%;
		border-bottom: 2px solid #fff;
		border-right: 2px solid #fff;
	}
	.prev:before {transform: translate(-75%, -50%) rotate(135deg);}
	.prev:after {transform: translate(5%, -50%) rotate(135deg);}

	.next:before {transform: translate(-35%, -50%) rotate(-45deg);}
	.next:after {transform: translate(-115%, -50%) rotate(-45deg);}

	.active {background-color: #ed7d32;}
}

@media (max-width: 1200px) {
	.category__grid,
	.category__grid--subgrid {gap: 15px}
}

@media(max-width:990px) {
	.pagination {width:max-content;margin: 30px auto;}
}

@media (max-width: 768px) {
	.category__grid {grid-template-columns: 1fr;}
	.category__menu a {font-size: 14px;padding: 1.35em 3em 1.35em 1.775em;}
}

@media (max-width: 381px) {
	.pagination a {
		width: 38px;
		height: 38px;
		margin-bottom: 8px;
		margin-right: 8px;
	}
	.breadcrumbs ul li, .breadcrumbs ul li a {font-size: 12px;}
	.breadcrumbs ul li:after {margin: 5.5px 2px 0 7px;}
}

.cts-page {
	.footer__upper {
		margin-top: 45px;
		// height: 77px;
		.container {height: 77px; padding: 0 30px}
		a {color: #fff; &:hover {color: $main;}}
	}
}

.cts__flex {
	position: relative;
	display: flex;
	&--l-col {
		flex: 0 0 calc(50% - 165px);
		background-color: #ed7d31;
		display: flex; flex-direction: column; 
		// justify-content: space-evenly;
		// align-items: flex-end;
		position: relative;
	}
	&--r-col {flex: 1 1 auto;}

	.part {
		width: 100%; height: 50%;
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

	.content {margin-right: 215px;width: 185px;}
	.upper {
		border-bottom: 2px solid #fff;
		position: relative;
		&:after {
			content: ' ';
			position: absolute;
			right: -40px;
			top: 0;
			width: 0px;
			height: 0px;
			border-style: solid;
			border-width: 144.5px 0 144.5px 40px;
			border-color: transparent transparent transparent #ed7d32;
			z-index: 1;
		}
	}

	.col--location {
		font-size: 20px; font-family: $semi;
		&:after {font-size: 16px; top: 6px;}
	} 

	a {
		color: #fff; display: block; 
		font-family: $semi;
		line-height: 30px;
		&:hover {color: $hover}
	}

	.unit {margin: 10px 0;}
	.small {opacity: 0.6; margin-bottom: 5px;}

}

.map>iframe, .map {height: 580px;}

.small {font-size: 14px}

.cts-form .container {
	padding-top: 80px;
	@media (max-width: 990px) {
		padding-top: 20px;
	}
}

.wrapper .cts-form,
.wrapper.page .cts-form {
	margin-bottom: 40px;
	@media (max-width: 990px) {
		margin-bottom: 20px;
	}
	&__grid {
		display: grid; 
		grid-template-columns: 1fr 1fr 1fr; gap: 30px;
		margin-bottom: 30px;
	}
	input, textarea {
		margin: 0;
		padding: 1.25em 1.875em;
		color: #ffffff;
		background-color: #272727;
		border: 1px solid #333333;
		border-radius: 5px;
		outline: 0;
		&:focus {box-shadow: 0 0 3px $main}
		&::placeholder {
			opacity: .5;
			font-family: inherit; color: inherit;
		}
	}
	textarea {height: 110px; 
		grid-column: span 2; 
		resize: none}
}

.btn-policy {
	.btn {margin-right: 27px;}
}

.policy {
	font-size: 14px;
	color: #999;
	a {text-decoration: underline;}
}

@media (max-width: 1190px) {
	.cts__flex--l-col {flex: 0 0 430px;}
	.wrapper .cts-form__grid, .wrapper.page .cts-form__grid {gap: 15px}
}

@media (max-width: 768px) {
	.cts__flex {
		flex-direction: column;
		.part {height: auto; padding: 25px 15px 15px; justify-content: flex-start;}
		.content {margin: 0;}
	}
	.cts__flex .upper:after {display: none;}
	.map > iframe, .map {height: 65vw;}

	.wrapper .cts-form__grid, .wrapper.page .cts-form__grid {
		grid-template-columns: 1fr; margin-bottom: 13px;
		textarea {grid-column: span 1;}

		input, textarea {
			padding: 1em 1.5em;
			font-size: 14px;
		}
	}
	.policy {font-size: 12px; line-height: 1.2; margin-bottom: 12px;}
	.btn-policy {
		flex-direction: column-reverse;
		text-align: center;
		align-items: center; justify-content: space-evenly;
		.btn {margin-right: 0;}
	}
	.cts-page .footer__upper .container {height: auto;}

	.g-recaptcha {
		width: max-content;
    margin: 0 auto;
	}
	.cts__flex .col--location {font-size: 18px;}
	.cts-page .footer__upper {margin-top: 10px;}

	.card-page main .container {padding-top: 5px;}
}

.cart_table {
	border-collapse: collapse;
	width: 100%;
	border-radius: 5px 5px 0px 0px;
	overflow: hidden;
	thead {
		background-color: #272727;
		font-size: 14px; line-height: 1;
		color: #999999;
		text-align: left;
	}
	th:first-child {padding: 13px 20px;}
	th {padding: 13px 0;}

	tbody {
		tr {border-bottom: 2px solid #272727;}
	}
	&--name {

	}

	&--pic {
		div {
			width: 99px;
			height: 99px;
			background-color: #ffffff;
			border-radius: 5px;
			overflow: hidden;
			padding: 20px;
			margin: 15px 0; 
		}
		img {
			width: 100%; height: 100%;
			object-fit: contain; object-position: center;
		}
	}

	&--pic-col {width: 128px;}

	.name {font-family: $semi;}
	.price {
		width: max-content;
		color: #fff;
	}

}

.cart-main {
	.cart-total {
		margin-top: 27px;
		justify-content: flex-end;
	}
}

.td-close {
	min-width: 30px;
	position: relative;
	.close {
		height: calc(100% - 30px);
		right: 0;
	}
}

.cart-total {
	font-size: 20px;
	text-transform: uppercase;
	color: #ffffff;
	.price {
		display: inline; font-size: 30px;
		color: inherit; margin-right: 30px;
		&:after {
			right: -8px;
			bottom: 5px;
		}
	}
	.btn {text-transform: none;}
}

.order_form {
	.container {
		padding-bottom: 90px;
		padding-top: 30px;
	}
	h2 {
		margin-bottom: 30px;
		@media screen and (max-width: 768px) {
			margin-bottom: 16px;
		}
	}
	&--unit {
		margin-bottom: 10px;
	}

	&--title {
		font-size: 20px; font-family: $semi;
		border-bottom: 2px solid #272727;
		padding-bottom: 9px;
	}

	&--body {
		padding: 30px 0;
	}

	&--grid2 {
		display: grid; gap: 30px;
		grid-template-columns: 1fr 1fr;
	}

	&--grid3 {
		display: grid; gap: 30px;
		grid-template-columns: 1fr 1fr 1fr;
	}

	textarea {height: 110px; margin-bottom: 8px;}

	.cart-total {
		margin-top: 30px;
		span {margin-right: 10px;}
	}
}

.order_form--unit 
.order_form--body .address-input {margin-top: 30px;}

.custom-label {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
	font-size: 14px;
	color: #999999;
  line-height: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
	user-select: none;
	b {
		font-size: 16px; 
		color: #ffffff; 
		font-family: $semi;
		display: block;
		margin-bottom: 8px;
	}

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .checkmark {
    position: absolute;
    top: 2px;
    left: 5px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 1px solid #d3d3d3;
		background-color: #fff;
		transition: 300ms ease-out;
    &:after {
      content: "";
      position: absolute;
      z-index: 8;
      top: 3px;
      left: 3px;
      right: 3px;
      bottom: 3px;
      opacity: 0;
      transition: 400ms;
    }
  }
  &:hover input ~ .checkmark {
    background: rgba($color: #fff, $alpha: .2);
  }
  input:checked ~ .checkmark {
		background: #fff;
  }
  input:checked ~ .checkmark:after {
		opacity: 1;
	
  }
}


.custom-label__check-square {
	padding-left: 25px;
  .checkmark {
	border-radius: 2px;
	left: 0; 
    &:after {
      content: "\f00c";
      font-family: fontawesome;
      background: transparent;
      top: -1px;
      left: 0;
      font-size: 15px;
      color: #fff;
    }
  }
  input:checked ~ .checkmark {
		background: #518032;
		border: 1px solid transparent;
	}
	
	.text {
		font-size: 14px;
		line-height: 1.2;
		color: #999999;
	}
	a {text-decoration: underline;}
}


.custom-label__check-border {
	padding: 25px 30px 24px 63px;
	background-color: #272727;
	// border: 1px solid #ed7d32;
	border: 1px solid transparent;
	border-radius: 5px;
	&:hover {border: 1px solid #ed7d32;}
  .checkmark {
		border-radius: 50%;
		left: 31px; top: 27px;
    &:after {
      left: -2px; right: -2px;
      top: -2px; bottom: -2px;
      border: 5px solid #fd9334;
      border-radius: 50%;
    }
  }
    input:checked ~ .checkmark {
    border: 1px solid transparent;
  }
}

@media(max-width: 990px) {
	.order_form--grid3, .order_form--grid2 {gap: 15px}
	.custom-label__check-border {
    padding: 17px 10px 15px 31px;
		.checkmark {left: 10px; top: 17px}
	}
	.custom-label b {font-size: 14px;}
	.order_form--body {padding: 20px 0;}
	.order_form--unit .order_form--body .address-input {margin-top: 15px;}
}

@media (max-width: 768px) {
	table.responsive {
	.td-close, .total {border: 0;}
	
		thead {
			display: none;
		}
		tr {
			margin-bottom: 15px;
			display: block;
			border: 1px solid #ddd;
			border-radius: 5px;
			position: relative;
		}
		td {
			display: block;
			width: 100%\9;
			float: left\9;
			text-align: right;
			border-bottom: 1px solid #ccc;
			position: relative;
		}
		td:before {
			content: attr(data-label);
			// float: left;
			text-transform: none;
			font-weight: 700;
			position: absolute;
			left: 5px; top: 50%;
			transform: translateY(-50%);
			font-size: 14px;
		}
	.t-name {text-align: center; padding: 6px 10px;}
	}
	.order_form--title {font-size: 18px;}

	.cart_table--pic div {
		width: calc(100% + 4px);
		height: 150px;
		margin: -2px;
		border-radius: 5px 5px 0 0;
	}
	.cart_table {
		.price, .counter {margin: 5px 5px 5px auto}
		.price {font-size: 16px;}
	}
	table.responsive {position: relative;}
	table.responsive .td-close {position: static;}

	.td-close .close {
		height: auto;
		right: 5px;
		top: 20px;
		&:before, &:after {background-color: $main;}
	}

	.counter input[type="text"] {
		width: 45px;
    height: 45px;
	}
	.counter button {font-size: 16px;}

	.counter {width: 92px;}
}

@media (max-width: 480px) {
	.cart-main .cart-total {margin-top: 0px;}
	.order_form--grid3, .order_form--grid2 {grid-template-columns: 1fr;}
	.order_form textarea,
	.order_form--unit {margin-bottom: 0;}
	.order_form--title {font-size: 16px; padding-bottom: 5px;}
	.custom-label__check-square .text {font-size: 12px;}
	.order_form .cart-total {margin-top: 10px;}
	.order_form .cart-total span {margin-right: 0;}
	

	.cart-total {
		font-size: 14px; flex-direction: column;
		.btn {margin: 5px 0 0 0;}
		.price {margin-right: 0; font-size: 20px;}
	}
	.order_form .container {padding: 30px 15px 40px;}
}